table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #78909c;
  padding: 6px;
  text-align: center;
  width: 150px;
}

th {
  color: #607d8b;
}

.highlighted {
  background-color: #cfd8dc;
}
